/* Created by Nethmi Pallekankanamge */

/* Created by The Coding Sloth */

@import "https://fonts.googleapis.com/css?family=VT323";

div {
  /* https://css-tricks.com/almanac/properties/i/image-rendering/ */
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "VT323";
  color: #434343;
  text-shadow: 0.25vmin 0.25vmin #878787;

  overflow: hidden;
}

.opening::before, .opening::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #222;

  transition: top 2s ease-in;

  z-index: 999;
}

.opening::before {
  content: "LOADING, PLEASE BE PATIENT...";
  color: white;
  font-size: 4vmin;
  text-align: center;
  line-height: 65vmin;
  top: 0;
}

.opening::after {
  top: 50%;
}

.opening.start::before {
  content: "DONE";
  top: -50%;
}
.opening.start::after {
  top: 100%;
}

.wrapper {
  margin: auto;

  width: 75vmin;
  height: 75vmin;
  border: 1px solid #333;
  position: relative;

  background-color: #222;
  background-image: url("https://dl.dropbox.com/s/vzdwyjy9f9xpdts/bg_grass.png?raw=1");
  background-size: 100% 81.75%;
  background-repeat: no-repeat;
  background-position: top center;

  z-index: 0;
}

.dialogue {
  --height: 24%;

  width: 100%;
  height: var(--height);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.dialogue:not(.battle) {
  background-image: url("https://dl.dropbox.com/s/o22816da9e7wpvq/dialogue.png?raw=1");
}

.dialogue.battle {
  background-image: url("https://dl.dropbox.com/s/7dex5kr9coiodez/battledialogue.png?raw=1");
  transform:  translateX(-50%) translateY(12%);
}

.dialogue > span {
  display: block;
  width: 100%;
  height: 100%;

  --font-size: calc(75vmin * 0.06);
  --line-height: calc(75vmin * 0.06);

  font-size: var(--font-size);
  line-height: var(--line-height);

  position: relative;
  left: var(--font-size);
  top: var(--line-height);
}

.dialogue.battle > span {
  color: #fff;
  left: calc(var(--font-size) / 1.5);
}

.dialogue.battle > span > .indicator {
  display: inline-block;
  position: relative;

  background-image: url("https://dl.dropbox.com/s/balld36ulaeur12/indicator.png?raw=1");
  width: calc(var(--font-size) * 0.5);
  height: calc(var(--font-size) * 0.5);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  animation: indicator 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes indicator {
  0% { transform: translateY(-0.25vmin); }
  50% { transform: translateY(0.25vmin); }
  100% { transform: translateY(-0.25vmin); }
}

.selectionmenu {
  width: 50%;
  height: calc(100% - 24%);
  background-image: url("https://dl.dropbox.com/s/q1wm7krj6y18gtv/selectionmenu.png?raw=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.info {
  width: var(--width);
  height: var(--height);
  position: absolute;
}

.info > .wrap {
  width: 100%;
  height: 100%;

  --font-size: calc(75vmin / 2 / 10);
  font-size: var(--font-size);
  position: absolute;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info > .wrap > .healthbar {
  display: inline-block;
  height: 100%;
  background: #70F8A8;
  position: absolute;
  bottom: 0;
  opacity: 1;
  z-index: -1;

  transition-timing-function: linear;
}

.info > .wrap > .healthbar_bg {
  display: inline-block;
  height: 100%;
  background: #506858;
  position: absolute;
  bottom: 0;
  opacity: 1;
  z-index: -1;
}

.info.you > .wrap > .name {
  position: absolute;
  top: calc(var(--font-size) / 6);
  left: calc(var(--font-size) * 1.15);
}

.info.you > .wrap > .level {
  position: absolute;
  top: calc(var(--font-size) / 6);
  right: calc(var(--font-size) * 0.55);
  text-align: right;
}

.info.you > .wrap > .health {
  position: absolute;
  bottom: calc(var(--font-size) / 3.15);
  right: calc(var(--font-size) * 0.65);
  text-align: right;
}

.info.you > .wrap > .healthbar_bg {
  width: 14vmin;
  right: calc(var(--font-size) - 1.5vmin);
}

.info.you > .wrap > .healthbar {
  width: 14vmin;
  right: calc(var(--font-size) - 1.5vmin);
}

.info.foe > .wrap > .name {
  position: absolute;
  top: calc(var(--font-size) / 6);
  left: calc(var(--font-size) * 0.5);
}

.info.foe > .wrap > .level {
  position: absolute;
  top: calc(var(--font-size) / 6);
  right: calc(var(--font-size) * 1.05);
  text-align: right;
}

.info.foe > .wrap > .healthbar_bg {
  width: 15vmin;
  right: calc(var(--font-size));
  transition: all 0.5s;
}

.info.foe > .wrap > .healthbar {
  width: 15vmin;
  right: calc(var(--font-size));
  transition: all 0.5s;
}

.info.foe > .wrap > .health {
  display: none;
}

.info.you {
  --width: calc(75vmin / 2.5);
  --height: calc(var(--width) * 0.356);

  bottom: calc(75vmin * 0.2);
  right: calc(var(--height) / 3);
}

.info.you > .wrap {
  background-image: url("https://dl.dropbox.com/s/8akzda7grvyx87i/you_info.png?raw=1");
}

.info.foe {
  --width: calc(75vmin / 2.5);
  --height: calc(var(--width) * 0.29);

  top: calc(var(--height) / 2);
  left: calc(var(--height) / 2);
}

.info.foe > .wrap {
  background-image: url("https://dl.dropbox.com/s/guo4iqpe7zkva7n/foe_info.png?raw=1");
}

.pokemon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pokemon > .hitmarker {
  background-image: url("https://dl.dropbox.com/s/xoxyd0rkqmotgv8/hitmarker.png?raw=1");
  width: 30%;
  height: 30%;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;
}

.pokemon.you > .hitmarker {
  bottom: 35%;
}

.pokemon.you.damaged ~ .info.you {
  animation: takeDamageHealthbar 0.075s;
  animation-iteration-count: 10;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}
.pokemon.you.damaged {
  animation: takeDamagePokemon 0.75s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}
.pokemon.foe.damaged ~ .info.foe {
  animation: takeDamageHealthbar 0.075s;
  animation-iteration-count: 10;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}
.pokemon.foe.damaged > canvas {
  animation: takeDamagePokemon 0.75s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}

.pokemon.you {
  width: 55%;
  height: 55%;

  position: absolute;
  left: 0;
  bottom: -2vmin;
}

.pokemon.foe {
  width: 45%;
  height: 45%;

  position: absolute;
  right: 4.5%;
  top: 4.5%;

  background-size: 100%;
}

.pokemon.foe > canvas {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.moveselection {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;

  background-image: url("https://dl.dropbox.com/s/bvn2h1759549y42/moveselection.png?raw=1");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.moveselection > .moves {
  height: 70%;
  width: 63%;

  position: absolute;
  top: 15%;
  left: 2%;
}

.moveselection > .moves > .move {
  display: flex;
  width: calc(50% - 6vmin);
  height: 50%;
  float: left;

  font-size: 3.75vmin;
  padding-left: 3vmin;

  cursor: pointer;

  justify-content: center;
  flex-direction: column;
}

.moveselection > .moves > .arrow {
  width: 3.25vmin;
  height: 3.25vmin;
  background-image: url("https://dl.dropbox.com/s/kzvfdy5i1d8k2c9/arrow.png?raw=1");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  transform: translate(0, -50%);
}
.arrow.topleft {
  top: 25%;
  left: 0;
}
.arrow.botleft {
  top: 75%;
  left: 0;
}
.arrow.topright {
  top: 25%;
  left: calc(50% - 3vmin);
}
.arrow.botright {
  top: 75%;
  left: calc(50% - 3vmin);
}

.moveselection > .moveinfo {
  display: flex;
  flex-direction: column;

  height: 70%;
  width: 20%;

  position: absolute;
  top: 15%;
  right: 2%;
}

.moveselection > .moveinfo > .pp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;

  font-size: 4.25vmin;

  text-align: center;
  align-content: center;
  justify-content: center;

  transform: translate(2vmin, 1vmin);
}

.moveselection > .moveinfo > .type {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;

  font-size: 4.25vmin;

  text-align: left;
  align-content: center;
  justify-content: center;

  transform: translate(1.15vmin, -0.25vmin);
}

@keyframes faint_foe {
  0% { transform: translate(-50%, 0); }
  100% { transform: translate(-50%, 150%); }
}
.pokemon.foe.fainted > canvas {
  animation: faint_foe 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes faint_you {
  0% { transform: translateY(0); }
  100% { transform: translateY(150%); }
}
.pokemon.you.fainted {
  animation: faint_you 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes takeDamagePokemon {
  0% { opacity: 1; }
  12.5% { opacity: 0; }
  25% { opacity: 1; }
  37.5% { opacity: 0; }
  50% { opacity: 1; }
  62.5% { opacity: 0; }
  75% { opacity: 1; }
  87.5% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes takeDamageHealthbar {
  0% { transform: translateY(0.5vmin); }
  100% { transform: translateY(0); }
}
@keyframes shaking {
  0% { transform: translateX(0); }
  23% { transform: translateX(0); }
  33% { transform: translateX(3vmin); }
  43% { transform: translateX(0); }
  56% { transform: translateX(0); }
  66% { transform: translateX(3vmin); }
  76% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
.pokemon.shaking {
  animation: shaking;
  animation-duration: 0.33s;
  animation-timing-function: linear;
}

@keyframes hitmarkerFade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.pokemon.showHitmarker > .hitmarker {
  animation: hitmarkerFade 0.5s;
  animation-delay: 0s;
  animation-timing-function: linear;
}

@keyframes tackle_you {
  0% { transform: translateX(0); }
  35% { transform: translateX(0); }
  50% { transform: translateX(5vmin); }
  65% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
.pokemon.you.tackle {
  animation: tackle_you;
  animation-duration: 0.75s;
  animation-timing-function: linear;
}

@keyframes tackle_foe {
  0% { transform: translateX(0); }
  35% { transform: translateX(0); }
  50% { transform: translateX(-5vmin); }
  65% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
.pokemon.foe.tackle {
  animation: tackle_foe;
  animation-duration: 0.75s;
  animation-timing-function: linear;
}

@keyframes splash {
  0% { transform: translateY(0) scaleY(1); }
  12.5% { transform: translateY(3vmin) scaleY(0.9); }
  25% { transform: translateY(-1vmin) scaleY(1.1); }
  37.5% { transform: translateY(3vmin) scaleY(0.9); }
  50% { transform: translateY(-1vmin) scaleY(1.1); }
  62.5% { transform: translateY(3vmin) scaleY(0.9); }
  75% { transform: translateY(-1vmin) scaleY(1.1); }
  87.5% { transform: translateY(0) scaleY(1); }
}
.pokemon.splash {
  animation: splash;
  animation-duration: 2s;
  animation-timing-function: linear;
}
